doctype html
html(lang="en")
    style.
        footer{
            position:fixed;
            width:100%;
            left:0;
            bottom:0;
            margin-bottom:0;
            height:50px;
            line-height:50px;
            background-color:#efefef;
        }
        top{
            margin:50px;
        }
        .chat{
            margin:auto;
            width:500px;
            height:500px;
            top:100px;
        }
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=chrome")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ChatApp
    body
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    top
        h1.text-center ChatApp Main 
    div.container
        div.chat
            script(src="/public/js/app.js")
            button.btn.btn-danger.
                click!!
            p.text-center
                |pug문법 적응중입니다.
                br
                |아이디는 # 
                br
                |클래스는 . <br>
            ul
                li 들여쓰기가
                li 중요해요!!
            h4 속성은 태그명괄호 ex) a(href='http://www.naver.com') naver
            a(href='http://www.naver.com') 네이버로 이동!
            br
            <input type="text" value="안녕">
            input(
                type="text"
                value="pug문법으로~"
            )
    footer.text-center.
        footer